<section class="section-1">
    <div class="title-div">
        <p class="title">Running ID Details</p>
        <div class="title-btn-div">
            <button class="btn1">Retrive</button>
            <button class="btn1">Reset</button>
            <button class="btn1">New Run Id</button>
            <button class="btn1">Close Run</button>
            <button class="btn1">Tun Consumables</button>
            <button class="btn">Save</button>
        </div>
    </div>
    <div class="FormFileds-1">
        <table>
            <tr>
                <td>Running Id:</td>
                <td><input  type="text" value="408327"></td>
                <td>Cast M No:</td>
                <td><input type="text" class="filled" value="CASTER-4"></td>
                <td>Fly Tundish:</td>
                <td><input type="checkbox"></td>
                <td>Total Plan Heats:</td>
                <td><input class="filled" type="text" value="4"></td>
            </tr>
            <tr>
                <td>Total Cast Heats:</td>
                <td><input type="text" class="filled" value="0"></td>
                <td>Cast Start Date:</td>
                <td><input type="text" value="23/12/2022 08:39"></td>
                <td>Cast End Date:</td>
                <td><input type="text"></td>
            </tr>
         
        </table>
    </div>
</section>