.sec1{
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: antiquewhite; */
    width: 99.3%;
    
}

.sec2{
    margin-top:10px;
    margin-left: 10px;
    /* background-color: antiquewhite; */
}

.sec3{
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: antiquewhite; */
}
.sec4{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    /* background-color: antiquewhite; */
}