<!-- <p>form-field works!</p> -->
<div class="flex-container">
    <table>
        <tr>
            <td>Aim Grade :</td>
            <td><input class="filled" type="text"></td>
            <td>Heat No:</td>
            <td><input type="text"></td>
            <td>Caster Date:</td>
            <td><input class="filled" type="text"></td>
        </tr>
        <tr>
            <td>Sequence:</td>
            <td><input type="text"></td>
            <td>Shoroud FixTime:</td>
            <td><input class="filled" type="text"></td>
            <td>Ladle Open:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>TD Htg Start Time:</td>
            <td><input class="filled" type="text"></td>
            <td>Tun Type:</td>
            <td><input type="text"></td>
            <td>Ladle Close:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Tandish No:</td>
            <td><input type="text"></td>
            <td>TD Sample No:</td>
            <td><input  class="filled"  type="text"></td>
            <td>Final Grade:</td>
            <td><input  class="filled"  type="text"></td>
        </tr>
        <tr>
            <td>STP Mech No:</td>
            <td><input type="text"></td>
            <td>Ladle Open:</td>
            <td><input type="text"></td>
            <td>Planned Grade:</td>
            <td><input  class="filled"  type="text"></td>
        </tr>
        <tr>
            <td>TD Car No:</td>
            <td><input type="text"></td>
            <td>No of times lancing:</td>
            <td><input type="text"></td>
            <td>Cast Size:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Spray plan: </td>
            <td><input type="text"></td>
            <td>Cast Length:</td>
            <td><input  class="filled"  type="text"></td>
            <td>Water Spray:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Cast Thick:</td>
            <td><input  class="filled"  type="text"></td>
            <td>SEN Depth:</td>
            <td><input type="text"></td>
            <td>Liquid Steel Wgt:</td>
            <td><input  class="filled"  type="text"></td>
        </tr>
        <tr>
            <td>No of Slabs:</td>
            <td><input  class="filled"  type="text"></td>
            <td>HMO:</td>
            <td><input  class="filled"  type="text"></td>
            <td>Tundish Wt:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Speed Table No:</td>
            <td><input  class="filled"  type="text"></td>
            <td>Actuator No:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Remark:</td>
            <textarea class="textArea"></textarea>
        </tr>
    
        <tr>
            <td>Table Change:</td>
            <td><input type="checkbox"></td>
            <td>Tun On Fly:</td>
            <td><input type="checkbox"></td>
            <td>Modified Tundish:</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Buffle & Dam:</td>
            <td><input type="checkbox"></td>
            <td>Ladel Cover:</td>
            <td><input type="checkbox"></td>
            <td>Seq First:</td>
            <td><input  type="checkbox"></td>
        </tr>
    </table> 

</div>

