<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<div class="sample-Generation-div">
            
    <div class="tittle">
        <div id="icon1" class="material-symbols-outlined">
            account_tree
        </div>
        Sample Generation
    </div>
    <div class="btn-div">
        <!-- <button class="btn" type="button">Generate Sample</button> -->
        <div class="btn">Generate Sample</div>
        <div class="scanner">
            <div class="scan-text">
                SC0B5054561
                <div id="icon" class="material-symbols-outlined">print</div>
            </div>
                
           
            
        </div>
    </div>
</div>