*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

.sample-Generation-div{
   
    width: 100%; 
    /* margin: 20px; */
    /* min-height: 160px; */
    /* background-color: aliceblue; */
    /* box-shadow: 0px 0px 0.6px 0.3px; */

}
.tittle{
    background-color: rgba(231, 229, 229, 0.726);
    /* padding: 13px; */
    font-size: 13px;
    min-height: 50px;
    color: #3A73B9;
    display: flex;
    line-height: 50px;
    font-weight: bold;

    
}

.btn{
    background-color:  #3A73B9;
    color: white;
    padding: 8px;

   text-decoration: none;

  margin-top: 10px;
  margin-bottom: 10px;
  width: 59%;
  margin-left:50px;

  
   font-size: 12px;
   border-radius: 5px;
   text-align: center;
   
   
}

.scan-text{
    margin-left:5%;
    font-size: 11px;
    box-shadow: 0px 0px 1px 1px;
    width: 90%;
    display: flex;
    min-height: 40px;
    line-height: 40px;
    justify-content: space-around;
}
#icon1{
    line-height: 50px;
    margin-left: 5px;
    margin-right: 10px;
    color:black
}

#icon{
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}