<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<section class="section-3">
    <div class="title-div">
        <p class="title">Heats waiting for casting</p>
        <div class="title-btn-div">
            <input  class="searchBox" type="search" placeholder="search">
            <button class="btn">Find Heat</button>
            <button class="btn">Refresh</button>
        </div>
    </div>
    <div class="FormFileds-1">
        <div class="main-table">
            <table>
                <tr class="table-header">
                    <td></td>
                    <td>Ladle No</td>
                    <td>Heat No
                        <input type="search" placeholder="search">
                    </td>
                    <td>Aim Grade</td>
                    <td>Rh Route</td>
                    <td>Plan Slab Width</td>
                    <td>Ladle Temp</td>
                    <td>Last Unit Disp Date</td>
                    <td>Last Process Unit</td>
                    <td>Schedule id</td>
                    <td>Schd Line No</td>
                    <td>Plan Caster No</td>
                    <td>Reject</td>
                    <td>Return</td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="" id="">
                    </td>
                    <td>14</td>
                    <td>C505484</td>
                    <td>JVHC210N00</td>
                    <td>N</td>
                    <td>1250</td>
                    <td>1576</td>
                    <td>135.54</td>
                    <td>23/12/2022 9:05</td>
                    <td>LHF-2</td>
                    <td>109212</td>
                    <td>10</td>
                    <td style="text-align: center;">
                        <span class="material-symbols-outlined" id="icon">
                        close
                        </span>
                    </td>
                    <td  style="text-align: center;">
                        <span class="material-symbols-outlined icon2">
                        autorenew
                        </span>
                    </td>
                   

                </tr>
            </table>
            <div class="table-pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#"><</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">></a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>

        </div>
        
    </div>
</section>