<div id="msgBox">
    <div class="text">Message</div>
    <div class="flex-container">
     <div class="flex-item" id="flex-btn1">Prev</div>
     <div class="flex-item" id="flex-btn1">Refresh</div>
     <div class="flex-item" id="flex-btn1">Next</div>
    </div>
    <div class="Msg-Div">
     <p>New Message</p>
     <div class="inputBox">
         <textarea placeholder="JSWADMIN:: System is Up"></textarea>
         <p>Send Date 05-02-2022</p>
     </div>
    </div>
    <div class="Msg-Div">
     <p>Last Message</p>
     <div class="inputBox">
         <textarea placeholder="JSWADMIN:: System is Up"></textarea>
         <p>Send Date 18-02-2022 </p>
     </div>
    </div>
    <div class="Msg-Div">
     <p>Last Message</p>
     <div class="inputBox">
         <textarea placeholder="JSWADMIN:: System is Up"></textarea>
         <p>Send Date 17-02-2022</p>
     </div>
    </div>
 </div>